table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
th, tr {
    width:90px;
}
button{
	display: inline-block;
	height: 14px;
}
.desc{
	background-image:url(downarrow.png);

}
.asc{
	background-image:url(uparrow.png);
}